body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

button {
    width: 100px;
    height: 100px;
    background-image: url('star.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1); /* برای بزرگ‌نمایی دکمه در حالت hover */
}
